body{
    background: linear-gradient(to left bottom,  #A9F1DF ,  #ffbbbb);
}
.Navbar{
    background-color: transparent;
    color:  white;
    display: flex;
    border-radius: 45px;
    width: 94%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: -10px -10px 90px 10px rgb(129, 129, 129);
}
.Navbar ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 2%;
    position: relative;
    list-style-type: none;
    gap: 20px;
}
.nav-items{
    background-color: white;
    border: none;
    padding: 0%;
    height: 45px;
    width: 180px;
    border-radius: 15px;
}

.logo{
    width: 40%;
    height: 50%;
    border-radius: 55%;
    margin-top: 20%;
    margin-left: 15%;
}
.profile{
    width: 5%;
    height: 10%;
    margin-inline-start: auto;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 50%;
    animation: anim 5s infinite;
    border: 1px solid black;
    box-shadow: 2px 2px 10px rgb(119, 246, 248);
}
.profile:hover{
    width: 75px;
    height: 75px;
}
@keyframes anim {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(-45deg);
    }
    75%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
        animation-delay: 10s;
    }
}











@media only screen and (max-width:768px) {
    .Navbar{
        padding-top: 2%;
    }
    .Navbar ul{
        margin-left: -14%;
    }
    .logo{
        margin-top: 10%;
    }
    .profile{
        margin-top: 2%;
        margin-right: 3%;
        width: 8%;
        height: 8%;
    }
    .profile:hover{
        width: 60px;
        height: 60px;
    }
    .nav-items{
        padding: 2% 4%;
    }
}

@media only screen and (max-width:1000px) {
    .logo{
        margin-top: 10%;
    }
    .Navbar ul{
        margin-left: 0px;
        margin-top: 2%;
    }
    .nav-items{
        padding: 2% 4%;
    }
    .profile{
        margin-top: 2%;
        margin-right: 3%;
        width: 6%;
        height: 6%;
    }
}


@media only screen and (max-width:1100px) {
    .logo{
        margin-top: 10%;
    }
    .Navbar ul{
        margin-left: 0px;
        margin-top: 2%;
    }
    .nav-items{
        padding: 2% 5%;
    }
    .profile{
        margin-top: 1%;
        margin-right: 3%;
        width: 6%;
        height: 6%;
    }
}


@media only screen and (max-width:1200px) {
    .logo{
        margin-top: 10%;
    }
    .Navbar ul{
        margin-left: 1%;
        margin-top: 2%;
    }
    .nav-items{
        padding: 2% 5%;
    }
    .profile{
        margin-top: 1%;
        margin-right: 3%;
        width: 6%;
        height: 6%;
    }
}